* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: #000;
    }
.container{
    background: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.header {
    width: 80%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: #fff;
    color: #000;
}

.header a {
    color: rgb(212, 10, 78);
}

.main {
    width: 80%;
}

.main .firstSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #e91e63;
    padding: 10px;
}

.firstSec .firstSecHeading {
    font-size: 40px;
}

.firstSec .firstSecPara {
    font-size: 20px;
}

.firstSec .firstSecdiv .firstSecbtn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: bold;
    background: #fff;
    color: #e91e63;

}

.main .secondSec .secondSecfirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main .secondSec .secondSecfirst {
    text-align: center;
    margin-top: 30px;
}
.main .secondSec .secondSecfirst .secHeading{
    font-size: 40px;
}

.main .secondSec .secondSecfirst .secPara {
    text-align: center;
    width: 200px;
    height: 2px;
    background: #e91e63
}

.main .secondSec .secSecdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 30px;
}

.main .secondSec .secSecdiv .card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;

}

.main .secondSec .secSecdiv .card .cartHeading {
    text-align: center;
    font-size: 25px;
}

.main .secondSec .secSecdiv .card .cartPriceSec {
    text-align: center;
}

.main .secondSec .secSecdiv .card .cartPriceSec strong {
    color: #e91e63;
}

.main .secondSec .secSecdiv .card .cartPriceSec span {
    text-decoration: line-through;
    margin-left: 5px;
}

.main .secondSec .secSecdiv .card .cart-btn {
    text-align: center;
}

.main .secondSec .secSecdiv .card .cart-btn button {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;
    background: #e91e63;
    cursor: pointer;
}

.main .thirdSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.main .thirdSec .thirdSecHeading {
    color: #e91e63
}

.main .thirdSec .third-bt button {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 50px;
    color: #fff;
    background: #e91e63;
    cursor: pointer;
    font-weight: bold;

}

.footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.footer .footerHeading {
    font-size: 18px;
}

.footer .socail-icon a img {
    border-radius: 5px;
    background-color: #000;
}

.footer .footerPara {
    font-size: 14px;
    text-align: center;
    line-height: 18px;

}