*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{  
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    
}
.header{
    width: 50%;
    padding: 40px;    
    border: 2px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    /* margin-top: 76px; */
    background: #fff;
    color: #000;
}

.header a{
    color: rgb(212, 10, 78);
}
.main{
    border: 2px solid aqua;
    width: 50%;
}
.main .firstSec{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: palevioletred;
    padding: 10px;
}
.firstSec .firstSecHeading{
    font-size: 40px ;
}
.firstSec .firstSecPara{
    font-size: 20px;
}
.firstSec .firstSecdiv .firstSecbtn{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: bold;
    background: #fff;
    color: palevioletred;
    
}
.main .secondSec .secondSecfirst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.main .secondSec .secondSecfirst{
    text-align: center;
    margin-top: 20px;    
}
.main .secondSec .secondSecfirst .secPara{
    text-align: center;
    width: 100px;
    height: 2px;
    background: palevioletred
}

.main .secondSec .secSecdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 30px;
}

.main .secondSec .secSecdiv .card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    
}
.main .secondSec .secSecdiv .card .cartHeading{
    text-align: center;
}
.main .secondSec .secSecdiv .card .cartPriceSec{
    text-align: center;
}
.main .secondSec .secSecdiv .card .cartPriceSec strong{
    color: palevioletred;
}
.main .secondSec .secSecdiv .card .cartPriceSec span{
    text-decoration: line-through;
    margin-left: 5px;
}
.footer{
    border: 2px solid orange;
}