* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 43%;
}

header {
    background: #f66d29;
    padding: 50px;
    color: #fff;
}

header .text {
    margin-top: 10px;
}

main {
    text-align: justify;
}

main .first {
    padding: 30px;
    margin-top: 20px;
}

main .second {
    display: flex;
    gap: 90px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 20px;


}

main .second div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main .second div h3 {
    color: #f66d29;
}

main .second div ul li {
    display: block;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
}

main .third p{
    margin-left: 29px;
}
main .third div{
   text-align: center;
   margin: 40px 0px;
}
main .third div button{
    padding: 12px 24px;
    background: #f66d29;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

footer

