*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    min-height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container{
    width:43%;
}

header{
    background: #bb460a;
    padding: 20px;
    color: #fff;
}
header .text{
    margin-top: 10px;
}
main{
    text-align: justify;
}
main .first{
    padding:20px;
}
