*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    margin: 100px auto;
    padding: 10px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(23, 21, 21);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(209, 127, 26);
    height: 1%;
}
