*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 40%;
    background: #e9e9e9;
    margin: 10px 0px;
    border-radius: 20px;
}

.first img{
    margin-top: 5px;
    border-radius: 50px;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;    
}
.second h1{
    font-size: 40px;
}
.second strong{
    font-size: 30px;
    color: darkblue;
}
.second p{
    width:80% ;
    text-align: justify;
}
.third{
    margin-bottom: 40px;
}
.third button{
    padding: 15px 30px;
    font-weight: bold;
    background: darkblue;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;

}

